export WORKING_DIR=.
export SOURCEPATH=/zfs/gcl/data/bioinfo
export SOURCEDIR=2017_09_06_Qiu_Species_RNAseq
export REFNAME=Homo_sapiens.GRCh38.dna_sm.primary_assembly
export REFCOUNTFILE=Homo_sapiens.GRCh38.84.gtf
export REFCOUNTPATH=/zfs/gcl/share/dblibs/human/Homo_sapiens/UCSC/hg38/Annotation/Genes
export LOC_SCRIPT=scripts
export GTFTYPE=exon
export GTFNAME=gene_id
export STEPS="4_1"
